[run]
branch = True
source = {{ cookiecutter.project_package }}

[paths]
source =
    src/{{ cookiecutter.project_package }}
    .tox/*/lib/python*/site-packages/{{ cookiecutter.project_package }}

[report]
fail_under = 100
show_missing = True
{%- if cookiecutter.cli_parser != "none" %}
exclude_lines =
{%- if cookiecutter.cli_parser == "click" %}
    def main()
{%- endif %}
    if __name__ == .__main__.:
{%- endif %}
