include .*.cfg *.in *.ini .*rc *.rst *.txt *.yml
{% if cookiecutter.project_doc == 'sphinx' -%}
include docs/conf.py docs/make.bat docs/Makefile
recursive-include docs *.rst
prune docs/_build
{% endif -%}
recursive-include tests *.py
