{% if cookiecutter.project_cli == 'click' -%}
click
{% endif -%}
coverage
pytest
{% if cookiecutter.project_doc == 'sphinx' -%}
sphinx
{% if cookiecutter.project_cli != 'none' -%}
sphinxcontrib-programoutput
{% endif -%}
{% endif -%}
